/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.04.2016, 08:16:44
    Author     : jonas.niedrig
*/
 body {
                    background-image: url("Ressourcen/hulk_background.jpg");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    color: chartreuse; 
                    font-size:20px;
                    font-family:sans-serif;
                    font-weight:bold;  
       }
                 
                 
        div{   
                  margin-left: 1%; 
                  margin-top: 2%;
            }
   
            
        table
            { 
                border-color: chartreuse;
                background-color:rgba(255,255,255,0.03);
            }
            
       td{
                    font-size:20px;
                    font-family:Arial;
                    font-weight:bold; 
                    color:chartreuse; 
       }
    
      
    
    
